/**	  #cc3399 rgb(204,51,153)
	  #6633cc rgb(102,51,204)
      #33cccc rgb(51,204,204)
      #99ff33 rgb(153,255,51)
      #ffff33	rgb(255,255,51)
      #ff9933	rgb(255,153,51)
      #ff3333 rgb(255,51,51)**/
div.square{
	line-height:14px;
	width:71px;
	background:#ccc;
	float:left;
	height:71px;
	margin:0 0 2px 2px;
	overflow:hidden;
	position:relative;
	font-size:10px;
	padding:10px;
	text-align:center;
}
game h1 button{
	float:right;
}
game span#free{
	font-size:11px;
}
div.squareinfo {
position: absolute;
background: rgba(20,20,20,.8);
margin-left: -95px;
width: 71px;
height: 71px;
padding:10px;
color:#fff;
font-family:Helvetica Neue;
font-size:11px;
top:0;
}
div.squareinfo a{
	font-weight:normal;
	color:yellow;
}
div.squareinfo #points{
	font-size:14px;
	font-weight:bold;
	display:block;
	clear:both;
	text-align:center;
	line-height:25px;
	
}
div.title{
	width:92px;
	float:left;
	text-align:center;
	line-height:33px;
	font-family:Helvetica Neue, Helvetica, Arial;
}

game span.karma{
	padding:3px 7px;
	background:#cc3300;
	color:#fff;
	margin:3px;
}
game span.points{
	padding:3px 7px;
	background:#cc9900;
	color:#fff;
	margin:3px;
}
#petal7 div.squareinfo{
	background:rgba(204,51,153,0.8);
}
#petal6 div.squareinfo{
	background:rgba(102,51,204,0.8);
}
#petal5 div.squareinfo{
	background:rgba(51,204,204,0.8);
}
#petal4 div.squareinfo{
	background:rgba(153,255,51,0.8);
}
#petal3 div.squareinfo{
	background:rgba(255,255,51,0.8);
}
#petal2 div.squareinfo{
	background:rgba(255,153,51,0.8);
}
#petal1 div.squareinfo{
	background:rgba(255,51,51,0.8);
}