/**	  #cc3399
	  #6633cc
      #33cccc
      #99ff33
      #ffff33
      #ff9933
      #ff3333 **/
	@font-face {
	    font-family: 'SoftCompoundRegular';
	    src: url('fonts/soft_compound-webfont.eot');
	    src: url('fonts/soft_compound-webfont.eot?#iefix') format('embedded-opentype'),
	         url('fonts/soft_compound-webfont.woff') format('woff'),
	         url('fonts/soft_compound-webfont.ttf') format('truetype'),
	         url('fonts/soft_compound-webfont.svg#SoftCompoundRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}
	@font-face {
	    font-family: 'AllerRegular';
	    src: url('fonts/aller_rg-webfont.eot');
	    src: url('fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
	         url('fonts/aller_rg-webfont.woff') format('woff'),
	         url('fonts/aller_rg-webfont.ttf') format('truetype'),
	         url('fonts/aller_rg-webfont.svg#AllerRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}

	@font-face {
	    font-family: 'AllerLightRegular';
	    src: url('fonts/aller_lt-webfont.eot');
	    src: url('fonts/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
	         url('fonts/aller_lt-webfont.woff') format('woff'),
	         url('fonts/aller_lt-webfont.ttf') format('truetype'),
	         url('fonts/aller_lt-webfont.svg#AllerLightRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}

	@font-face {
	    font-family: 'AllerDisplayRegular';
	    src: url('fonts/allerdisplay-webfont.eot');
	    src: url('fonts/allerdisplay-webfont.eot?#iefix') format('embedded-opentype'),
	         url('fonts/allerdisplay-webfont.woff') format('woff'),
	         url('fonts/allerdisplay-webfont.ttf') format('truetype'),
	         url('fonts/allerdisplay-webfont.svg#AllerDisplayRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}

	@font-face {
	    font-family: 'AllerLightItalic';
	    src: url('fonts/aller_ltit-webfont.eot');
	    src: url('fonts/aller_ltit-webfont.eot?#iefix') format('embedded-opentype'),
	         url('fonts/aller_ltit-webfont.woff') format('woff'),
	         url('fonts/aller_ltit-webfont.ttf') format('truetype'),
	         url('fonts/aller_ltit-webfont.svg#AllerLightItalic') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}

html,body{
	height:100%;
	margin:0;
}
background{
	top:0;
	background:url('images/bg.png');
	position:fixed;
	width:100%;
	display:block;
	height:100px;
	z-index:-1;
	min-height: 100%; /* Sets the height of the background always to 100% */
	height: auto !important; /* real browsers */
	height: 100%; /* IE6: treated as min-height*/
}	
body {
    background: #333;
    color: #fff;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
	margin:0;
}

header {
    color: #FFFFFF;
    height: 41px;
    margin: 0;
    padding: 7px 0 0;
    position: fixed;
    width: 313px;	
	top:0;
}
header logo {
    background: #333 url("images/logoheader.png") no-repeat scroll 0 0 transparent;
    bottom: 0;
    height: 45px;
    margin-left: 1015px;
    position: fixed;
	border-radius:0 10px 0 0;
	padding:10px;
    width: 180px;
    z-index: 1000;
}

a:hover{
	cursor:pointer;
}
.nodisplay{
	display:none;
}
toolbar{
	display:block;
	width:100%;
}
toolbar div.icon {
    background: url("images/iconsmenu.png") repeat scroll -165px -2px transparent;
    float: right;
    height: 32px;
    margin: 2px 4px;
    overflow: hidden;
    width: 34px;
}
toolbar div.icon:hover{
	cursor:pointer;
}
toolbar #accountlist{
	display:none;
	
}
toolbar #accountlist ul {
    background: none repeat scroll 0 0 #222222;

    font-size: 12px;
    list-style: none outside none;
    padding: 10px;
    position: fixed;
    text-indent: 4px;
    top: 28px;
	left:1009px;

}
toolbar #accountlist ul li{
	border-bottom:1px solid #333;
	line-height:24px;
	
}
toolbar #search_btn {
    background-color: #333333;
    background-position: -165px -41px;
    margin-left: 270px;
    overflow: visible;
    position: absolute;
    z-index: 10005;
}
input#search {
    background: none repeat scroll 0 0 #BBBBBB;
    border: 4px solid #666666;
    box-shadow: 0 0 2px #000000;
    color: #666666;
    font-size: 10px;
    height: 19px;
    left: 5px;
    margin-left: 0;
    padding: 2px 7px;
    position: absolute;
    text-shadow: 1px 1px 0 #CCCCCC;
    top: 9px;
    width: 230px;
}
toolbar #messages{
	background-position:-165px -75px;
}
toolbar #share{
	background-position:-165px -40px;
}



/** NOTIFICATIONS **/
nomessages {
    background: none repeat scroll 0 0 #EC2487;
    box-shadow: 0 0 5px #000000;
    font-size: 9px;
    font-weight: normal;
    height: 13px;
    line-height: 13px;
    margin: 17px 17px;
    padding: 0 2px;
    position: absolute;
}
toolbar #notifications{
	background-position:-165px -113px;
}
account {
    left: 1004px;
    position: fixed;
    top: 4px;
    width: 154px;
    z-index: 1008;
}
a {
text-decoration:none;
font-weight:bold;
color:#27A6DE;
}
a:hover {
color:#2794ff;
}
a:visited{
	color:#27A6DE;
}
.hidden{
	display:none;
}
#wrapper{
	width:1070px;
	clear:both;

}
#loader{
	position:fixed;
	right:20px;
	top:50px;
	background:#000;
	background:rgba(0,0,0,.9);
	padding:10px;
	font-size:12px;
	color:#fff;
}
#holder {
    height: 290px;
    margin-left: -19px;
    margin-top: -18px;
    width: 300px;
}
span.tooltip{
	position:absolute;
	margin-top:-30px;
	margin-left:10px;
	background:#000;
	background: rgba(0,0,0,.6);
	border:2px solid #fff;
	box-shadow:0 0 2px #ccc;
	padding:5px;
	color:#fff;
	border-radius:5px;
	z-index:10000;
	text-align:center;
	font-size:10px;
	display:none;
}
.validateTips {
display:none;
color:#FFF;
left:0;
position:fixed;
bottom:0;
width:100%;
z-index:10000;
font-size:14px;
clear:both;
height:23px;
line-height:23px;
text-shadow:1px 1px 1px #555;
text-indent:25px;
padding:.3em;
}
/**** LOGIN ***/
#checkboxes{
	float:left;
	width:200px;
}
#checkboxes label{
	display:block;
}
#login_form {

    font-size: 13px;
    line-height: 21px;
    padding: 15px;
}
#fields input{
	width:185px;
}
#login_form_remember_session{
	clear:both;
}
#login_form a{
	float:right;
	margin-right:5px;
	font-size:11px;
	font-weight:normal;
	text-decoration:underline;
}
#login_form input{

	height:15px;
	font-size:13px;
	color:#aaa;
	padding:10px;
	margin:7px 0;
	background:#e6e6e6;
	text-shadow:1px 1px 0 #eee;
}
/*** MENU ***/
#scroll-pane{

	overflow:auto;
}
#mainmenu{
	display:block;
	width:55px;
	background:#ccc;
	position:fixed;
	left:0;
	top:50px;
	z-index:1000;
	padding:0 7px;
	box-shadow: 0 0 10px #000000;
}
.icon.pointer{
	cursor:pointer;
}
#mainmenu .icon{
	display:block;
	width:55px;
	height:54px;
	margin:8px 0;
	background: url("images/iconsmenu.png");
	float:left;
}
#profile_btn.icon{
	background-position:-60px 0px;
}
#flower_btn.icon{
	background-position:-60px -55px;
}
#stream_btn.icon{
	background-position:-60px -112px;
}
#gallery_btn.icon{
	background-position:-60px -167px;
}
#game_btn.icon{
	background-position:-60px -216px;
}
#travels_btn.icon{
	background-position:-60px -269px;
}
#events_btn.icon{
	background-position:-60px -324px;
}
#projects_btn.icon{
	background-position:-60px -383px;
}

#profile_btn.icon:hover{
	background-position:0px 0px;
}
#flower_btn.icon:hover, #flower_btn{
	background-position:0px -55px;
}
#stream_btn.icon:hover{
	background-position:0px -112px;
}
#gallery_btn.icon:hover{
	background-position:0px -167px;
}
#game_btn.icon:hover{
	background-position:0px -216px;
}
#travels_btn.icon:hover{
	background-position:0px -269px;
}
#events_btn.icon:hover{
	background-position:0px -324px;
}
#projects_btn.icon:hover{
	background-position:0px -383px;
}
/*** CONTENT ***/
/*** CONTENT ***/
/*** CONTENT ***/
/*** CONTENT ***/
/*** CONTENT ***/
/*** CONTENT ***/
content {
    background: none repeat scroll 0 0 #DDDDDD;
    box-shadow: 0 0 10px #000000;
    color: #666666;
    float: left;
	font-family:Lucida Sans;
    margin-bottom: 50px;
    margin-left: 315px;
    margin-top: 0px;
    padding: 15px;
    position: relative;
	z-index:1000;
    width: 656px;
}
content.fullwidth{
	width:820px;
}
content.uploader{
	width:700px;
}
content h1 {
    color: #444444;
    font-family: "Helvetica Neue",Helvetica,"Arial Unicode MS",Arial,sans-serif;
    font-size: 35px;
    margin-top: 0;
    text-shadow: 1px 1px 0 #EEEEEE;
}
content p{
	font-size:11px;
	line-height:14px;
	color:#888;
	text-align:justify;
	font-family:Lucida Sans;
	text-shadow: 1px 1px 0 #eee;
}
div.pageicon {
    background: url("images/iconsmenu.png") repeat scroll 0 0 transparent;
    float: left;
    height: 54px;
    margin-right: 6px;
    width: 54px;
}
#stream_btn{
	background-position:0 -112px;
}
button{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: #ffffff;
		padding: 7px 20px;
		background: -moz-linear-gradient(
			top,
			#f0f0f0 0%,
			#e3e3e3 25%,
			#b5b5b5);
		background: -webkit-gradient(
			linear, left top, left bottom, 
			from(#f0f0f0),
			color-stop(0.25, #e3e3e3),
			to(#b5b5b5));
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border: 0px solid #d4d4d4;
		-moz-box-shadow:
			0px 1px 3px rgba(000,000,000,0.3),
			inset 0px 0px 0px rgba(255,255,255,0.7);
		-webkit-box-shadow:
			0px 1px 3px rgba(000,000,000,0.3),
			inset 0px 0px 0px rgba(255,255,255,0.7);
		text-shadow:
			0px -1px 1px rgba(000,000,000,0.2),
			0px 1px 0px rgba(255,255,255,0.3);
}

/** ICONS **/
.icon{
	background:url("images/iconsmenu.png") no-repeat;
	
}
.articleicon{
	background-position: -160px -195px;
}
.commenticon{
	background-position: -163px -150px;
}
.membericon{
	background-position: -122px -442px;
}
.sustcentericon{
	background-position: -118px -390px;
}
.eventicon{
	background-position: -163px -244px;
}
.projecticon{
	background-position: -164px -434px;
}
.workshopicon{
	background-position: -161px -293px;
}
.volunteeringicon{
	background-position: -165px -392px;
}
button.green{
	background: #A7E300;
	background: -webkit-gradient(linear, left top, left bottom, from(#A7E300), to(#99D100));
	background: -moz-linear-gradient(top, #A7E300, #99D100);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A7E300', endColorstr='#99D100');
	border: 1px solid #87B800;
	color: white;
	cursor: pointer;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 30px;
	padding: 0 10px;
	text-align: center;
	text-shadow: rgba(0, 0, 0, .25) 0 -1px 1px;
	text-transform: uppercase;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
button.green:hover{
	 background: -moz-linear-gradient(center top , #B2EB14, #A4DA14) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#B2EB14), to(#A4DA14));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B2EB14', endColorstr='#A4DA14');

}
button:hover{
	background: -moz-linear-gradient(
		top,
		#f6f6f6 0%,
		#e9e9e9 25%,
		#b9b9b9);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#f6f6f6),
		color-stop(0.25, #e9e9e9),
		to(#b9b9b9));
	cursor:pointer;
}
button:active{
	background: -moz-linear-gradient(
		top,
		#fbfbfb 0%,
		#ececec 25%,
		#bcbcbc);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#fbfbfb),
		color-stop(0.25, #ececec),
		to(#bcbcbc));
}

#copy {
    bottom: 0;
    font: 300 .7em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    text-align: right;
	margin-right:20px;
}
#copy a {
    color: #fff;
}
#overlay{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.8);
	display:block;
	z-index:100000;
	position:fixed;
	top:0;
	right:0;
	display:none;
}
#close{
	background:url("images/close.png") no-repeat right;
	width:30px;
	height:30px;
	position:absolute;
	right:-14px;
	margin-top:-9px;

}
#close:hover{
	cursor:pointer;
}
#modalbox{
	position:fixed;
	top:80px;
	z-index:10000000;
	display:none;
}
/*** FLOWER **/
#flowercontainer {
    background: none repeat scroll 0 0 #CCCCCC;
    display: none;
    left: 66px;
    overflow: hidden;
    position: fixed;
    top: 50px;
    width: 250px;
    z-index: 100;
}
#title{
	background: none repeat scroll 0 0 #222222;
    border-bottom: 4px solid #27A6DE;
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;

}
#flower {
    background: none repeat scroll 0 0 #ccc;
    height: 280px;
    margin-left: -27px;
    width: 276px;
	padding-bottom:24px;
}
div.get{
	display:none;
}
flower{
	font-family: "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}
flower div{
	margin-bottom:21px;
	margin-left:20px;
	width:300px;
	float:left;
	background:#ccc;
}
flower path{
	cursor:pointer;
}
flower div skill{
	display:none;
}
flower div span#petalName{
	padding-left:40px;
}
#petalName:hover{
	cursor:pointer;
}
petalicon{

	background:url("images/icons_sprite.png") no-repeat left;
	height: 28px;
	margin-left: 4px;
	margin-top: 3px;
	position: absolute;
	width: 30px;
}
flower div.building petalicon{
	background-position: -75px -101px;
}
flower div.communitygov petalicon{
	background-position: -75px -76px;
}
flower div.finance petalicon{
	background-position:-73px 1px;
}
flower div.land petalicon{
	background-position: -102px -25px;
}
flower div.culture petalicon{
	background-position: -73px -25px;
}
flower div.tools petalicon{
	background-position: -74px -51px;
}
flower div.health petalicon{
	background-position: -101px 2px;
}
flower div.building #petalName, flower div.construction skill grade{
	background:#ff3333;
	color:#fff;
}
flower div.communitygov #petalName , flower div.communitygov skill grade{
	background:#ff9933;
	color: #fff;
}
flower div.land #percSkills{
	color:#222;
}
flower div.finance #petalName, flower div.finance skill grade{
	background:#ffff33;
	color:#222;
}
flower div.finance #percSkills{
	color:#222;
}
flower div.land #petalName, flower div.land skill grade{
	background:#99ff33;
	color:#222;
}
flower div.culture #petalName, flower div.culture skill grade{
	background:#33cccc;
	color: #fff;
}
flower div.tools #petalName, flower div.tools skill grade{
	background:#6633cc;
	color: #fff;
}
flower div.health #petalName, flower div.health skill grade{
	background:#cc3399;
	color: #fff;
}
#petalName{
	font-size:16px;
	font-weight:bold;
	padding:7px;
	display:block;
	background:#333;
}
#percSkills {
    color: #FFFFFF;
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin-left: 245px;
    margin-top: -63px;
    padding: 7px;
    position: absolute;
}
#noSkills{
	display:block;
	padding:7px;
	background:#000;
	font-size:11px;
}
#hide{
	position:absolute;
	
	margin:-22px 5px 0 0;
	margin-left:255px;
	font-weight:bold;
	font-size:12px;
}
#hide:hover{
	cursor:pointer;
	color:#ccc;
}
#showreferences{
	color:#3399ff;

	font-weight:bold;
	font-size:11px;
	line-height:20px;
	float:right;
}
#showreferences:hover{
	cursor:pointer;
}

skill {


    color: #222222;
    display: block;
    padding:10px;
    width: 280px;
}
skill name {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #BBBBBB;
    border-radius: 10px 0 10px 0;
    clear: both;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 7px;

}
skill grade {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 2px 2px 2px #CCCCCC;
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin-left: 230px;
    margin-top: -30px;
    padding: 3px 7px;
    position: absolute;
	border-radius: 10px 0 10px 0;
}
skill description{
	display:block;
	padding:10px 10px 5px 10px;
	font-size:12px;
}
skill reference {
    display: block;
    margin-left: 52px;
    min-height: 50px;
    width: 81%;
margin-top:10px;
}
skill #gradeform{
	margin:10px;
	width:100%;
	line-height:14px;
	font-size:14px;
}
skill button{
	display:block;
	clear:both;
	margin:10px;
	height:30px;
	line-height:25px;
	text-align:center;
	border-radius:10px 0;
}
skill select, skill textarea{
	width:260px;
	margin:5px 0;
}
skill #gradeform button{
	margin:10px 0px;
}
avatar {
    background: none repeat scroll 0 0 #888888;
    height: 40px;
    margin-left: -46px;
    padding: 3px;
    position: absolute;
    width: 40px;
border-radius:8px 0 8px 0;
}
memberavatar{
	background:#ccc url("images/avatar_mini2.png");
	width:35px;
	height:35px;
	margin:0 0 2px 2px;
	float:left;
	border:2px solid #fff;
	box-shadow: 0 0 2px #111;
	overflow:hidden;
}
creator memberavatar{
	position:absolute;
}
div.element:hover membernametooltip{
	display:block;
}
membernametooltip{

	position:absolute;
	background:#333;
	height:14px;
	padding:3px 6px;
	margin-top:-30px;
	margin-left:-40px;
	font-size:10px;
	clear:both;
	font-weight:bold;
}
membernametooltip:after{
	display:block;
	width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;

      border-top: 20px solid #f00;
}
avatar img {
    box-shadow: 1px 1px 2px #555555;
    margin: 2px 0 0 2px;
}
reference userid{
	display:none;
}
reference username {
    background: none repeat scroll 0 0 #888888;
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    font-weight: bold;
    padding: 2px;
	border-radius: 0 0 8px 0;
}
reference description{
	display:block;
	font-size:10px;
	padding:6px;
}
petaltooltip{
	width:200px;
	height:100px;
	background:#000;
	position:absolute;
}
points{
	position:relative;
	display:block;
	margin-left:-75px;

}
actionpoints, reactionpoints {

    border: 2px solid #FFFFFF;

    box-shadow: 0 0 2px #000000;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-left: -20px;
    padding: 0 10px;
    position: absolute;
    text-align: center;
    width: 60px;
	
}
actionpoints{
	border-radius:0px 0px 7px 7px;
	background:#27A6DE;
	margin-top:25px;
}
reactionpoints{
	border-radius:7px 7px 0 0;
	background:#EC2487;
	margin-top:5px;
}
path:hover{
	cursor:pointer;
}
refgrade{
	font-size:11px;
	background: none repeat scroll 0 0 #FFFFFF;

    box-shadow: 1px 1px 2px #555;
    float: right;
    font-weight: bold;
    margin-left: 193px;
    margin-top: -45px;
    padding: 3px;
    position: absolute;
	border-radius: 5px 0 5px 0;
}
leftbar {
    float: left;
	position:fixed;
    width: 330px;
    z-index: 1000;
}
leftbar div.container{
	background: none repeat scroll 0 0 #ccc;
    color: #555;
    display: block;
    font-size: 13px;
    width:250px;
	position:fixed;
	left:69px;
	top:50px;

	box-shadow:0 0 4px #000;
}
#containercontent {
padding: 0 11px;
font-size: 11px;
line-height: 15px;
}
#streamcontainer, #gallerycontainer, #gamecontainer, #travelscontainer, #projectscontainer, #eventscontainer {
   display:none;
}
#streamcontainer p{
	margin-left:40px;
}
#streamcontainer .points{
	font-size:15px;
	font-weight:bold;
	text-shadow:1px 1px 0 #eee;
	color:#888;
	float:right;
}
menucontents{
	dislpay:block;
}
fields {
    display: block;
    line-height: 24px;
    padding: 15px;
		text-indent:5px;
	font-weight:bold;
}
fields div {
    background:#DDDDDD;
    margin-bottom: 3px;
    padding: 2px 14px;
    text-shadow: 1px 1px 0 #EEEEEE;
	height:24px;
	color:#777;
	font-size: 11px;
}
#flowercontainer fields div {
padding: 2px 5px;
z-index: 1000000;

}
span.perc{
	float:right;
	font-size:11px;
	color:#333;
}
span.skills{
	float:right;
	font-size:10px;
	color:#aaa;
}
fields div:hover span.skills{
	color:#333;
}
#flowercontainer fields div:hover{
	color:#000;
	text-shadow:none;
	padding:2px;
	width:220px;
	padding-right:5px;
	cursor:pointer;
}
#flowercontainer fields .petalicon{
	position:relative;
	float:left;
	margin-left:-1000000px;
}
#profilecontainer name {
    background:#222;
	border-bottom:4px solid #27A6DE;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
}
profilepic {
	width: 180px;
	min-height: 100px;
	background: #444;
	border:4px solid #27A6DE;
	box-shadow: 0 0 4px #000;
	display: block;
	margin: 8px auto;
}
profilepic img{
	border:10px solid #222;
	margin-bottom:-3px;
}
#profilecontainer fields div.icon {
    background: url("images/iconsmenu.png") repeat scroll 0 0 transparent;
    float: left;
    height: 20px;
    margin-left: -13px;
    width: 6px;
}
#profilecontainer #email div.icon {
    background-position: -129px -86px;
}
#profilecontainer #telephone div.icon {
    background-position: -129px -163px;
}
#profilecontainer #sex div.icon {
    background-position: -129px -121px;
}
#profilecontainer #dob div.icon {
    background-position: -129px -8px;
}
#profilecontainer #nationality div.icon {
    background-position: -129px -8px;
}
#profilecontainer #languages div.icon {
    background-position: -131px -229px;
}
bar{
	display:block;
	padding:7px;
	font-size:11px;
	background:#222;
	height:20px;
}
#profilecontainer #hide{
	margin-top:-32px;
	position:absolute;
	color:#ddd;

}
#profilecontainer #hide:hover{
	color:#ccc;
}
hello{
	float:left;
	font-size:30px;
	margin:0 20px 10px 0px;
	font-weight:bold;
}
#profilecontainer h1{
	font-weight:bold;
	text-align:left;
	margin:0;
	font-size:16px;

}

buttons {
    height: 30px;
    margin-left: 292px;
    position: absolute;
    top: 73px;
    width: 40px;
    z-index: 1;
}
buttons button {
    border-radius: 7px 0 7px 0;
    float: left;
    height: 30px;
    margin-bottom: 7px;
    text-indent: -10000px;
    width: 30px;
}
/** THE GAME **/
#gamecontainer #gamediv{
	
}
#gamediv img, #gamediv .petalicon{
	float:left;
}
#gamediv h3{
	line-height:10px;
}


/*** RIGHTBAR ***/
rightbar {
    left: 980px;
    padding: 0 20px;
    position: fixed;
    top: 50px;
    width: 250px;
	overflow:auto;
	padding-right:0;
	padding-top:0;
}
rightbar h3{
	background:#222;
	border-bottom:4px solid #27A6DE;
	position:relative;
	padding:5px 10px;
	margin-top:0;
}
friends, scs, projects{
	display:block;
	height:147px;
}

/** 
EVENTSEVENTSEVENTSEVENTS	EVENTS
EVENTS		EVENTS			 EVENTS
EVENTS		 EVENTS			EVENTS
EVENTS		   EVENTS	   EVENTS
EVENTS		   EVENTS	   EVENTS
EVENTSEVENTS	EVENTS	  EVENTS
EVENTSEVENTS	EVENTS	  EVENTS
EVENTS			 EVENTS	 EVENTS
EVENTS			 EVENTS  EVENTS
EVENTS			  EVENTSEVENTS	
EVENTSEVENTS	  EVENTSEVENTS
EVENTSEVENTS	  EVENTSEVENTS
**/
eventname{
	
}
date{
	display:block;
	position:absolute;
	right:30px;
	top:30px;
	font-size:12px;
	color:#999;
}

/** FOOTER **/
footer {
    background: none repeat scroll 0 0 #222222;
    clear: both;
    height: 34px;
    width: 100%;
	position:fixed;
	bottom:0;
	z-index:100;
	display:none;
}
quickbox{
	line-height:20px;
	font-size:12px;
	font-weight:bold;
	color:#ddd;
	position:absolute;
	margin:7px;
	display:none;
}
quickbox button{
	margin: 0 4px 0 4px;
	border-radius:10px;
}
/**                                     
	PLUGINSPLUGINS		PLUGINS         PLUGINS       PLUGINS		PLUGINSPLUGINS			PLUGINS	  PLUGINS  		PLUGINS		PLUGINSPLUGINS
	PLUGINS		PLUGINS	PLUGINS         PLUGINS       PLUGINS	PLUGINSPLUGINSPLUGINS		PLUGINS   PLUGINSPL		PLUGINS	PLUGINS
	PLUGINS		PLUGINS	PLUGINS         PLUGINS       PLUGINS	PLUGINS			            PLUGINS   PLUGINSPLUGINSPLUGINS PLUGINS
	PLUGINS		PLUGINS	PLUGINS         PLUGINS	      PLUGINS	PLUGINS		PLUGINSPLUGINS  PLUGINS   PLUGINS	PLUGINSPLUG	PLUGINS
	PLUGINSPLUGINS      PLUGINS         PLUGINS		  PLUGINS	PLUGINS			PLUGINS     PLUGINS   PLUGINS	   PLUGINSP		PLUGINSPLUGINS
	PLUGINS             PLUGINSPLUGINS	PLUGINSPLUGINSPLUGINS	PLUGINSPLUGINSPLUGINS       PLUGINS   PLUGINS		PLUGINSP		PLUGINSPLUGINS
	PLUGINS             PLUGINSPLUGINS	  PLUGINSPLUGINS		  	PLUGINSPLUGINS          PLUGINS   PLUGINS		PLUGINS	PLUGINSPLUGINSPLUGINS


**/

/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;

	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background:#111;

}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background:#222;
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.92);
	}
}
 /**** SCROLL PANE ****/
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: red;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #ddd;
	position: relative;
}

.jspDrag
{
	background: #aaa;
	margin:0 4px;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	border-radius:10px;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}


/**** GALLERY ****/
/** GALLERY **/
#gallery {
}
#gallery  #picture:hover {
}
#gallery #comments{
    width:320px;
    float:left;
    border-radius:5px;
    border:none;
    margin-top:5px;
}
#picture {
	float: left;
	padding: 0.9px;
	box-shadow: none;
	margin: 2px;
	text-align: center;
	vertical-align: middle;
	border: 3px;
}
#picture_details{
    margin-top:5px;
    width:170px;
    float:right;
    background:#eee;
    
    padding:7px;
    border-radius:10px;
}
#picture_description{
    padding:3px;
    color:#777;
    font-size:10px;
    margin-bottom:3px;
}

#picture_date{
    font-size:9px;
    float:right;
    font-style:italic;
    color:#bbb;
}
#show_more_pictures{
    float:left;
}
#pager{
    clear:both;
}
div#delete {
    background:#222;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    height: 15px;
    margin-top: 0px;
    margin-left:60px;
    padding: 2px;
    position: absolute;
    width: 15px;
    z-index: 1000;
    display:none;
}
#delete:hover{
    background:#000;
    background:rgba(0,0,0,.7);
}
div.text{
    display:none;
    padding:3px;
    background:#222;
    color:#fff;
    font-size:10px;
    margin-left:17px;
    margin-top:-2px;
    height:14px;
    position:absolute;
}
#delete:hover .text{
    display:block;
}
#delete span{
    margin:0;
    padding:0;
}
#picture:hover #delete{
    display:block;
}
#pager.singlepic{
    position:absolute;
    width:515px;
}
#pager #next{
    float:right;
    width:250px;
    height:200px;
    vertical-align:center;
    margin-right:1px;
}
#pager #back{
    float:left;
    width:250px;
    height:200px;
    vertical-align:center;
    margin-left:10px;
}
#pager div div{
    background:url("images/tn3.png");
    width:30px;
    height:31px;
    margin-top:9px;
    border-radius:5px;
    overflow:hidden;
}
#pager #back:hover .backbutton{
    display:block;
}
#pager #next:hover .nextbutton{
    display:block;
}
#pager #back .backbutton{
    background-position:-4px -39px;
    display:none;
}
#pager #next .nextbutton{
    background-position:-39px -39px;
    float:right;
    display:none;
}
#pager #back .backbutton:hover{
    background-position:-4px -102px;
}
#pager #next .nextbutton:hover{
    background-position:-39px -102px;
}
#pager div{
    float:left;

}
div.fileupload-content ui-widget-content ui-corner-bottom{
    font-size:10px;
}
#loadpics{
    padding:10px 20px;
	position:absolute;
	right:0;
	top:0px;
	background: -moz-linear-gradient(center top , #FEFEFE, #D9D9D9) repeat scroll 0 0 transparent;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.13, #FEFEFE),
	    color-stop(0.57, #D9D9D9)
	);
    border-color:#bbb #bbb;
    border-style: solid;
    border-width: 1px;
    color: #888888;
    font-size: 12px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}