.icon{
	width:45px;
	height:45px;
	margin:10px;
	float:left;
}
.filters a {
    background: url("images/iconsmenu.png") repeat scroll 0 0 transparent;
    display: inline;
    float: left;
    height: 45px;
    margin: 10px;
    text-indent: -100000px;
    width: 45px;
}
.filters #type, .filters #category{
	position:fixed;
	width:70px;
}
.filters #type{
	margin-left:-120px;
	margin-top:-6px;
}
.filters #category{
	margin-left:800px;
}
.filters li{
	width:67px;
	float:left;
	list-style-type:none;
	list-style-position: outside;
}
li a.all_filter {
    background-position: -163px -150px;
}
li a.members_filter{
	background-position: -122px -442px;
}
li a.sustcenter_filter{
	background-position: -118px -390px;
}
li a.comment_filter{
	background-position: -163px -150px;
}
li a.article_filter{
	background-position: -160px -195px;
}
li a.event_filter{
	background-position: -163px -244px;
}
li a.project_filter{
	background-position: -164px -434px;
}
li a.workshop_filter{
	background-position: -161px -293px;
}
li a.volunteer_filter{
	background-position: -165px -392px;
}
.building_filter{
	background-position: -163px -150px;
}
.communitygov_filter{
	background-position: -163px -150px;
}
.finance_filter{
	background-position: -163px -150px;
}
.land_filter{
	background-position: -163px -150px;
}
.culture_filter{

}
.tools_filter{

}
.health_filter{

}
.selected{
	background-color:#ddd;
	border-radius:10px 0 0 10px;
}
#sort {
    background: none repeat scroll 0 0 #333333;
    height: 50px;
    margin-left: -25px;
    position: fixed;
    top: 0;
    width: 870px;
    z-index: 10000;
}
#sort ul{
	position:absolute;
}
#sort a{
	padding:5px 12px;
	border-radius:5px;
	font-size:13px;
}
#sort a.selected{
	background-color:#ccc;
	padding:5px 12px;
	border-radius:5px;
	font-size:13px;
	color: #777;
	text-shadow: -1px 0px 0 #ddd;
}
#sort-by{
	left:-25px;
}

#sort ul li{
	list-style-type:none;
	float:left;
	margin:0 10px;
}
#sort-direction{
	right:144px;
}

content.fullwidth{
	padding-top:40px;
	z-index:1;
	position:relative;
	min-height:600px;
}
#container div.pet1{
	border-top:5px solid #ff3333;
}
#container div.pet2{
	border-top:5px solid #ff9933;
}
#container div.pet3{
	border-top:5px solid #F3DD1E;
}
#container div.pet4{
	border-top:5px solid #A4DE00;
}
#container div.pet5{
	border-top:5px solid #33cccc;
}
#container div.pet6{
	border-top:5px solid #403BDC;
}
#container div.pet7{
	border-top:5px solid #cc3399;
}
div.element{
	display:block;
	background:#333;
	color:#fff;
	margin:2px;
	padding:10px;
	font-family:"AllerRegular";
	overflow:hidden;
	text-shadow:1px 1px 2px #000;
}
#memberpic {
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
	opacity:0.3;
	z-index:-1;
	/* Firefox */
	-moz-transition-property: opacity;
	-moz-transition-duration: 0.3s;

	/* WebKit */
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.3s;

	/* Opera */
	-o-transition-property: opacity;
	-o-transition-duration: 0.3s;

	/* Standard */
	transition-property: opacity;
	transition-duration: 0.3s;

}
div.element:hover #memberpic{
	opacity:1;
}

.width1		{width:176px;}
.width2		{width:376px;}
.height1	{height:110px;}
.height2	{height:250px;}
.height3	{height:390px;}

div.element.width1 #memberpic img	{min-width:200px}
div.element.width2 #memberpic img	{min-width:420px}


div.rp{
	position:absolute;
	right:0;
	margin:10px;
	margin-top:-35px;
	margin-right:0px;
	padding:5px 10px;
	border-right:0;
	border-top:0;
	z-index:10000;
	font-size:13px;
	text-shadow:1px 1px 0 #333;
}
.pet1 div.rp{background:#ff3333;}
.pet2 div.rp{background:#ff9933;}
.pet3 div.rp{background:#F3DD1E;}
.pet4 div.rp{background:#A4DE00;}
.pet5 div.rp{background:#33cccc;}
.pet6 div.rp{background:#403BDC;}
.pet7 div.rp{background:#cc3399;}


.date{
	font-size:12px;
	position:absolute;
	top:-20px;
}
.boxcontent{
	padding:10px;
	line-height:14px;
}

#content {
position: absolute;
width: 400px;
background: #333;
padding: 10px;
top: 0;
left: 396px;
height: 399px;
z-index: -1;
font-size:18px;
box-shadow:0 0 15px #000;
-webkit-box-shadow:0 0 15px #000;
-moz-box-shadow:0 0 15px #000;
}
#titlecontainer{
	font-family:Helvetica Neue;
	font-weight:bold;
}
#titlecontainer a{
	font-size:21px;
}
.width1 #titlecontainer{
	width:170px;
	word-wrap:break-word;
}
.large #titlecontainer{
	width:370px;
}

#box{
	background:rgba(40,40,40,.8);
	display:block;
	width:100%;
	margin-left:-10px;

	position:absolute;
	bottom:0;
}

div.large{
	width:776px; 
	height:390px; 
	font-size:35px;
	line-height:44px;
}
div.large:after{
	position:absolute;
	display:block;
	background:rgba(20,20,20,.6);
	border-radius:3px;
	content:"x";
	font-weight:bold;
	font-size:19px;
	right:0;
	top:0;
	padding:7px 10px;
	line-height:12px;
}
#container div.element .large #memberpic img{
	min-width:400px;
}
.membername{
	font-size:12px;
}
#box memberavatar{
	margin-top:-8px;
	margin-left:-10px;
	margin-right:7px;
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
}
memberavatar img{
	width:35px;
	border:none;
}
#container p{
	text-shadow:2px 2px 2px #000;
	color: #FFFFFF;
    font-family: "AllerRegular";
	margin: 0;
    text-align: left;
    text-shadow: 2px 2px 2px #000000;
}
.width1 {
	font-size:20px;
	line-height:24px;
}
.width1.height3 {
	font-size:24px;
    line-height: 28px;
}
.width2 {
	font-size:28px;
    line-height: 34px;
}
/** COMMENT **/
#commentbutton {
    border-radius: 3px 3px 3px 3px;
    
    font-size: 13px;
    margin-left: 400px;
    padding: 7px 16px;
    position: absolute;
    text-shadow: 1px 1px 0 #999999;
    top: 7px;
}
#commentbutton:hover{
	cursor:pointer;
	box-shadow: 0 0 10px #CCCCCC;
	-moz-box-shadow: 0 0 10px #CCCCCC;
	-webkit-box-shadow: 0 0 4px #CCCCCC;
}
#link{
	position:absolute;
}
span.linkimage{
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}
#content p.linkdescription{
	font-size:13px;
	line-height:17px;
	margin-right:20px;
}
#commentsection {
font-size: 12px;
line-height: 12px;
margin-bottom: 100px;
height: 225px;

width: 376px;
position: relative;
overflow: auto;
margin-top: 100px;
padding-bottom: 25px;
}
.nocomments{
	float:right;
	margin-top:4px;
	font-size:11px;
}
#commentsection memberavatar{
	margin:0 10px 10px -2px;
}
#commentsection p{
	margin-right:20px;
	margin-top:5px;
	color:#ddd;
}
#reactionpoints{
	float:right;
	margin:10px;

}
#reactionpoints div{
	border-radius:9px;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
    background: url("images/iconsmenu.png");
    border-radius: 9px 9px 9px 9px;
    float: left;
    height: 20px;
    margin-left: 5px;
    width: 20px;
	box-shadow:0 0 4px #000;
	-webkit-box-shadow:0 0 4px #000;
	-moz-box-shadow:0 0 4px #000;
}
#reactionpoints div:hover{
	cursor:pointer;
}
#reactionpoints div.dharma{
	background-position:-135px -322px;
}
#reactionpoints div.karma{
	background-position:-134px -295px;
}
/** ISOTOPE **/

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}

