@charset "utf-8";
/** SIDEBAR LEFT **/
#profile-info{
	text-align:right;
	color:#666;
	padding-right:5px;
}
#avatar {
width:160px;
border:10px solid #eee;
text-align:center;
}
#file_uploadUploader {
  background: #eee;
}
#avatar:hover{
	cursor:pointer;
}
#addprofilepic{
	position:absolute;
	background:#ccc;
	background:rgba(0,0,0,.2);
	padding:5px;
	margin-top:5px;
	margin-left:5px;
	display:none;
	color:#fff;
	opacity:.7;
	font-size:10px;
	text-indent:17px;
	z-index:1000;
	display:none;
}
#gamelayer #button{
	display:none;
}
#addprofilepic:hover{
	cursor:pointer;
	background:#ddd;
	background:rgba(0,0,0,.7);
	-moz-transition:background-color .25s linear;
	-webkit-transition:background-color .25s linear;
	transition:background-color .25s linear;
	opacity:1;
}
#addprofilepic span{
	margin-top:-2px;
}
#sidebarleft #quote {
color:#999;
font-style:italic;
border-bottom:1px solid #eee;
font-size:12px;
text-align:right;
padding:15px 0 15px 15px;
}
#sidebarleft #leftmenu{
	padding-right:10px;
}
#sidebarleft #leftmenu ul {
margin-top:20px;
padding:0;
}
#sidebarleft #leftmenu ul li {
height:22px;
line-height:20px;
margin-bottom:4px;
padding:0 0 0 30px;
-moz-transition:background-color .25s linear;
-webkit-transition:background-color .25s linear;
transition:background-color .25s linear;
}
div.leftmenu_btn{
	clear:both;
	position:absolute;
	background-image:url(images/iconsmenu.png);
	width:50px;
	height:50px;
	margin-left:-27px;
}
#sidebarleft #leftmenu ul li:hover {
background:#e9e9e9;
cursor:pointer;
}
#sidebarleft #leftmenu span {
    float: right;
    font-size: 11px;
    font-weight: bold;
    height: 16px;
    line-height: 15px;
    padding: 3px;
    text-align: center;
}
#stream_btn{
	background-position:0 0px;
}
#travel_btn{
	background-position:0 -20px;	
}
#live_btn{
	background-position:0 -42px;	
}
#be_btn{
	background-position:0 -63px;	
}
#play_btn{
	background-position:0 -88px;	
}

/** SIDEBAR RIGHT**/
#sidebarright #flower{
	width:200px;
	height:200px;
	border:none;
	margin-top:-10px;
	margin-left:-10px;
	overflow:none;
}
#tooltips div {
    background: none repeat scroll 0 0 #222;
	background: rgba(10,10,10,.7);
    color: #FFFFFF;
    font-size: 10px;
    padding: 5px;
    position: absolute;
	display:none;
	border:2px solid #fff;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	z-index:10000;
	box-shadow:1px 1px 3px #ccc;
}
#accordion #button_add_skill {
    font-size: 11px;
    font-weight: bolder;
    opacity: 0.2;
    padding: 3px;
    position: absolute;
    right: 5px;
    top: 190px;
}
#accordion .skillslist {
    border: 0 none;
    margin-left: -10px;
    padding: 0;
    width: 200px;
}
#accordion div.skillslist{
	display:none;
}
div.skillslist table{
	margin-top:10px;
	width:190px;
}
.skillslist table td.petalTitle{

	font-family:Helvetica, Arial;
	font-size:18px;
	line-height:30px;
	letter-spacing:-1px;
}
.skillslist table td.description{
	font-size:10px;
	color:#999;
}
.skillslist table td.skill{
	font-size:12px;
}
.skillslist table td.grade{
	text-align:right;
	font-weight:bold;
	font-size:14px;
}
.skillslist table td.reviews{
	text-align:right;
	font-size:10px;
	line-height:28px;
}
#gamelayer .skillslist table td.reviews div {
    border: 0 none;
    display: block;
    float: left;
    position: relative;
}
/** SIDEBAR RIGHT **/
#sidebarright {
width:226px;
float:right;
}
div.skillslist #closebutton {
    border: 0 none;
    margin-left: 180px;
    margin-top: -6px;
    position: absolute;
}
div.skillslist #closebutton:hover{
	cursor:pointer;
	
}
/** JQUERY UI **/
#accordion {
	font-size:12px;
}
#accordion div{
	border-radius:0;
	border:1px solid #ccc;
	overflow:hidden;
}
#accordion h3 a{
	color:#fff;
}
#accordion h3{
	border-radius:0;
	margin:-1px 0 -1px 0;
	padding:0;
}

/** FLOWER TOOLTIPS **/
	#tooltips div span{
		display:block;
		text-align:center;
	}
	#tooltips span#petalName{
		font-size:12px;
		font-weight:bold;
		letter-spacing:-1px;
	}
	#tooltips span#percOfSkill{
		font-size:11px;	
	}
	#tooltips span#percOfSkill strong{
		font-size:14px;	
	}
	#tooltips span#reviews{
		text-align:right;
		font-size:9px;
	}
/** GAME LAYER **/
#gamelayer{
	margin:-1px;
	margin-top:1px;
}
#gamelayer a {
    color: #2299FF;
    font-weight: bold;
}
#gamelayer ul.game {
margin-left:-65px;
margin-top:-20px;
}
#gamelayer ul li {
    margin: 0 0 10px 10px;
	font-size:10px;
	height:30px;
}
#gamelayer ul li .game-icons{
	width:70px;
	height:59px;
	position:absolute;
	border:none;
}
#gamelayer ul li .game-icons img{
	padding:0;
}
ul.game #description {
    border: medium none;
    height: 60px;
    margin-left: 51px;
    position: absolute;
    width: 150px;
}
#description h4{
	font-size:12px;
	margin:15px 0 5px 0;
	
}
#description span.action_points{
	padding:5px;
	border-radius:5px;
	background:#eeff00;
}
#description span.reaction_points{
	padding:5px;
	border-radius:5px;
	background:#ff0099;
}
/** Tabla editar **/
.tabla_editar_perfil {
}
.tabla_editar_perfil .linea_editar {
	background:#FFF;
	cursor:pointer;
	height:25px;
}
.tabla_editar_perfil .linea_editar:hover {
	background:#AAD5FF;
}
.tabla_editar_perfil tr td {
	padding:5px;
}
.tabla_editar_perfil #miembros_forma_editar_perfil_campo_fecha_de_nacimiento {
border:1px solid #EAEAEA;
}


.tabla_editar_perfil #miembros_forma_editar_perfil_campo_fecha_de_nacimiento {
border:1px solid #EAEAEA;
}

